<h1>New Cause</h1>

<%= form_for @cause do |f| %>
    
	<% if @cause.errors.count > 0 -%>
	<ul class="errors">
		<% @cause.errors.full_messages.each do |e| -%>
			<li><%= e %></li>
		<% end -%>
	</ul>
	<% end -%>

	<p>
		<%= f.label :title, "Title" %>
		<%= f.text_field :title %>	
	</p>                            
	
	<p>
		<%= f.label :description, "Description" %>
		<%= f.text_area :description, :size => '60x4' %>
	</p>                            
	
	<p>
		<%= f.submit "Create" %>
	</p>
	
<% end %>