<!DOCTYPE html>
<html>
<head>
  <title>Crowdlobbying</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
             
<div id="wrap">
	<div id="header">
		<h1><%= link_to "Crowdlobbying", root_url %></h1>
	</div>
	
	<div id="content">
		<%= yield %> 
	</div> 
</div>

</body>
</html>
